/*header custom styles*/
.t-header{
    z-index: 100;
}

.t-header .nav-bar-default{
    background-color: #3e3d3d;
}

.t-header .navbar{
    margin-bottom: 0;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
}

/*t-land*/
.t-land{
    height: 120vh;
    background: url("../images/back.jpg");
    background-repeat: round;
    background-size: 1000px;
    padding-top: 100px;
    border-bottom: 5px solid #2c3e50;
}

.t-land h1{
    font-size: 72px;
    color: #e74c3c;
    font-family: 'Raleway', sans-serif;

}

.t-land h2{
    font-family: 'Raleway', sans-serif;
}

/*about us - home page custom*/
.t-about{
    background-color: #ececec;
    color: black;
    padding-bottom: 30px;
}

.t-about a{
    color: #607D8B;
}

.t-about a:hover{
    color: #009688;
}

/*messages*/
.t-msg{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #1f2122;
    color: white;
}

.t-msg a{
    color: #607D8B;
}

.t-msg a:hover{
    color: #009688;
}

.t-msg .modal{
    color: black;
}

/*gallery*/
.t-gallery{

}
/*footer*/
.t-footer{
    background-color: #12646f;
    color: #ffffff;
    padding: 20px 0;
}

